/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Player table */
.playerTable {
  min-width: 100%;
  border: 2px solid #202020;
  border-radius: 1%;
}

.playerTHead {
  border: 1px solid #202020;
}

.playerTh {
  color: #00923f;
  background-color: #faeed4;
  font-size: 1.5rem;
  text-align: center;
  padding: 1.2rem;
}

.playerTBody {
  border: 2px solid #202020;
}

.playerTd {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.2rem;
}

.playerTr:hover {
  background: #60bb87;
}

.isParticipating {
  background: #60bb87;
}

.isNotParticipating {
  background: #8c8c8c;
}

.numberPlayersTraining {
  padding: 0 0 0 2rem;
  font-size: 3.5rem;
  color: #1b703a;
}
